@page "/talker"

<div class="chat_commento">
    <!-- top -->
    <div class="chat_top">
        是兄弟就来砍我
    </div>
    <!-- line -->
    <div class="line"></div>
    <!-- middle -->
    <div class="chat_middle" id="chat_middle_item">
        <TalkerRecord Name="A" InsertedAt="08:12" Text="testA" IsLeft="true" />
        <TalkerRecord Name="B" InsertedAt="08:13" Text="testB" IsLeft="false" />
    </div>
    <!-- line -->
    <div class="line"></div>
    <!-- foot -->
    <div class="chat_foot">
        <!-- context -->
        <textarea @bind="@Message" class="chat_context" id="chat_context_item" cols="30" rows="10" placeholder="请输入"></textarea>
        <div class="chat_commit" id="button" @onclick="@ClickHandler">发送</div>
    </div>
</div>

@code {
    [Parameter]
    public ITalker Service { get; set; }
    [Parameter]
    public long LeftId { get; set; }
    [Parameter]
    public long RightId { get; set; }
    public string Message { get; set; }
    public void ClickHandler(object obj)
    {
        // todo
        // service receive message, update the list, and the re-render the page
    }
}
