/*基础样式*/
.topContainer {
    border-radius: 5px;
    border: 2px solid #ccc;
    height: 500px;
    padding: 10px;
}

#leftDemo, #rightDemo {
    width: 400px;
    display: inline-block;
    margin: 30px auto 30px 200px;
}

#rightDemo {
    float: right;
    margin: 30px 200px 0 0;
}

.outContainer {
    position: relative;
}

.outContainer:not(:first-child) {
    margin-top: 20px;
}

/* 消息框通用样式*/
.messInRight {
    text-align: right;
}

.left, .right, .faceImg {
    display: inline-block;
}

.left {
    width: 32px;
    top: 0;
}

.right {
    margin-left: 15px;
}

.faceImg {
    position: absolute;
    top: 0;
}

.faceImgInRight {
    right: -5px;
}

.messContent {
    color: #fff;
    font-size: 14px;
}

.contentDetail {
    display: inline-block;
    background-color: #00FF7F;
    padding: 5px 12px;
    border-radius: 15px;
}


    .contentDetail:not(:first-child) {
        margin-top: 2px;
    }

    .contentDetail:first-child {
        border-bottom-left-radius: 0;
    }

    .contentDetail:last-child {
        border-bottom-left-radius: 15px;
        border-top-left-radius: 0;
    }

    .contentDetail:not(:first-child):not(:last-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }    



/*右侧消息框样式*/
.messInRight .contentDetail:first-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0;
}

.messInRight .contentDetail:last-child {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 0;
}

.messInRight .contentDetail:not(:first-child):not(:last-child) {
    border-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.contentDetail:first-child:last-child {
    border-radius: 15px;
}

.faceImg img {
    width: 32px;
    border-radius: 16px;
}

/*小表情样式*/
.smile1 {
    background: url('emoji.jpg') no-repeat;
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: -2px;
    margin-left: 2px;
}
/*background-position 可根据小表情在大图的位置中对应做调整*/
.smile2 {
    background: url('emoji.jpg') no-repeat;
    background-position: -32px -16px;
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: -2px;
    margin-left: 2px;
}

.smile3 {
    background: url('emoji.jpg') no-repeat;
    background-position: -16px 0;
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: -2px;
    margin-left: 2px;
}

.smile4 {
    background: url('emoji.jpg') no-repeat;
    background-position: -16px -16px;
    width: 14px;
    height: 16px;
    display: inline-block;
    vertical-align: -2px;
    margin-left: 2px;
}
