@page "/todo"
@using QFamilyForum.Data
@inject TodoService service

<PageTitle>Todo list</PageTitle>

<h3>Todo Items</h3>

@if(todos == null)
{
    <p><em>Loading...</em></p>
} else 
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todos)
            {
                <tr>
                    <td>@todo.Title</td>
                    <td>@todo.Description</td>
                    <td>@todo.EndTime</td>
                </tr>
            }
        </tbody>
    </table>
}

<input placeholder="New" @bind="newTodoTitle" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private TodoItem[]? todos;
    private string? newTodoTitle;

    protected override async Task OnInitializedAsync()
    {
        todos = await service.GetTodoAsync();
    }

    private async void AddTodo()
    {
        if (newTodoTitle == null)
            return;
        service.AddTodo(newTodoTitle);
        newTodoTitle = null;
        todos = await service.GetTodoAsync();
    }
}
